@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin-top: 60px;

  header {
    @apply fixed z-50 top-0 left-0 right-0 transition-all;
    backdrop-filter: blur(4px);
  }
}

.container {
  max-width: clamp(300px, 93vw, 1240px);
  margin: 0 auto;
}
