$max-width: 768px;

.header {
  @apply text-white text-lg fixed z-50 top-0 left-0 w-screen transition-all;
    backdrop-filter: blur(4px);

    @media (max-width: $max-width) {
      @apply bg-white text-dark h-screen;
      left: -200%;
    }
    &__body {
      @apply gap-5 py-5 w-full justify-between container;
  }

  .links {
    @apply gap-3;
    @media (max-width: $max-width) {
      @apply flex-col;
    }
  }
  .link {
    @apply relative;
    span {
      @apply transition-all absolute bottom-0 left-1/2 w-0 h-[2px] bg-white;
    }
    &.active,
    &:hover {
      span {
        @apply left-0 w-full;
      }
    }
  }
}

.headerWrapper {
  &__burger {
    @apply pointer-events-none opacity-0 text-white fixed z-[51] top-4 right-4 transition-all cursor-pointer;
    @media (max-width: $max-width) {
      @apply text-dark opacity-100;
      pointer-events: all;
    }

  }

  &.active {
    .header {
      @apply left-0;
      &__body {
        @media (max-width: $max-width) {
          @apply flex-col;
        }
      }
    }
    .headerWrapper__burger {
      @apply text-dark;
    }
  }
}